#titlesec p {
    max-width: 800px;
    font-size: 30px;
    margin: 0 auto;
    color: #351ca5;
    font-family: 'Roboto', sans-serif;
  }

  #thumbnailsec p {
    max-width: 800px;
    font-size: 30px;
    margin: 0 auto;
    color: #2437a3;
    font-family: 'Roboto', sans-serif;
  }  